a {
    @include textShadow;
    text-decoration: none;
}

.container {
    min-height: 100vh;
    background-image: linear-gradient(to right top, $blue, $pink, $lightPink, $orange, $lightOrange);
    @include textShadow;
    font-family: KronaOne, Arial, Helvetica, sans-serif;
}

.navbar {
    padding: 6px 0;
    width: 100%;
    top: 0;
    z-index: 1;
    @include backgroundGlass;

    .navbar__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        @media only screen and (max-width: $mobileLimit) {
            flex-direction: column;
            text-align: center;
        }
    }

    .navbar__item {
        line-height: 48px;
        padding: 0 5px;
        flex-grow: 1;

        &:hover {
            cursor: pointer;
        }
    }

    .navbar__profpic {
        width: 48px;
        vertical-align: middle;
        margin-right: 10px;

        @media only screen and (max-width: $mobileLimit) {
            display: block;
            margin: 0 auto;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding: 16px 16px;

    @media only screen and (max-width: $mobileLimit) {
        padding: 16px 0;
    }
}

.category-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 16px;
    width: 70%;
    margin: 0 auto;

    @media only screen and (max-width: $mobileLimit) {
        width: 100%;
    }

    .category-holder__title {
        text-align: center;
        width: 100%;
        padding: 32px 0;
    }

    .category-holder__item {
        padding: 16px 16px;
        color: $black;
        text-shadow: none;
        font-weight: 400;
        border-radius: 5px;
        flex-grow: 1;
        flex-basis: 30%;
        text-align: center;

        &:hover {
            cursor: pointer;
            transition: 0.35s ease;
            background-color: $black;
            color: #fff;
        }

        @media only screen and (max-width: $mobileLimit) {
            text-align: left;
        }
    }
}

.question-holder {
    @include cardContainer;
    color: $black;
    text-shadow: none;
    position: relative;
    margin: 32px auto;

    .question-holder__checked {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $black;
        color: #fff;
        padding: 0 10px;
        font-size: 1.12rem;

        img {
            max-width: 10px;
        }
    }

    .question-holder__title {
        text-align: left;
    }

    .question-holder__question {
        font-weight: bolder;
        padding: 16px 0;
        text-align: justify;
    }

    .question-holder__choices {
        list-style: none;
        padding: 16px 0;
        text-align: left;
        
        li input {
            vertical-align: middle;
        }
    }

    button {
        margin-top: 32px;
    }
}

.breadcrumb {
    font-size: 0.8rem;
    color: $gray;
    margin: 32px;
}

.notify {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    overflow: hidden;

    .notify__content-holder {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        font-weight: 400;
        border-radius: 5px;
    }

    .notify__close {
        float: right;
        margin-right: 10px;
        margin-top: 5px;

        &:hover {
            cursor: pointer;
            color: #fff;
        }
    }

    .notify__title {
        font-size: 0.8rem;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $gray;
        padding: 8px;
    }

    .notify__content {
        font-size: 0.6rem;
        padding: 8px;

        img {
            max-width: 100%;
        }
    }
}

.notify--danger {
    background-color: $red;
    color: #fff;
}

.notify--success {
    background-color: $green;
    color: #fff;
}

.error-page {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 2.5rem 0;
    margin-bottom: 50px;

    .error-page__image {
        max-width: 30%;
    }

    .error-page__text {
        text-align: center;
        background-color: $blue;
        padding: 8px 8px;
        margin-top: 16px;
    }
}

.footer {
    text-align: center;

    span {
        font-size: 2rem;
        color: $blue;
    }
}