@font-face {
    font-family: Alata;
    src: url("./fonts/Alata-Regular.ttf");
}

@font-face {
    font-family: KronaOne;
    src: url('./fonts/KronaOne-Regular.ttf');
}

@font-face {
    font-family: PoppinsRegular;
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('./fonts/Poppins-Bold.ttf');
}